body{
  padding-top: 70px;
  font-family:'Poppins', sans-serif; 
}


.navbar {
  background-color: #c9222d !important;
}


.navbar-brand {
  color: #fff !important;
  font-weight: 500;
}

.nav-link {
  color: #fff !important;
  font-weight: 500;
  padding: 12px 16px !important;
}


.nav-link:hover {
  color: #ffd4d4 !important;
  text-decoration: underline;
}


.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(assets/IMGs/hero-bg-2.png);
}

.btn-orcamento {
  background-color:#c9222d !important ; 
  border: none;
  transition: 0.2s ease-in-out;
  color: #ffffff;
}


.btn-orcamento:hover {
  background-color:#b61f1f !important ;
  transform: scale(1.05);
  
}

#sobre {
  border-bottom: 1px solid #eee;
}

#sobre h2 {
  color: #c9222d;
}

#sobre p {
  font-size: 1.1rem;
  line-height: 1.7;
}

#sobre img {
  margin-top: 20px;
}

#servicos h2 {
  color: #c9222d;
}

.card-text {
min-height: 90px;

}

.service-card img {
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.service-card {
  transition: 0.2s ease-in-out;
  border-radius: 10px;
}

.service-card:hover {
  transform: scale(1.03);
  box-shadow: 0px 6px 16px rgba(0,0,0,0.15);
}

#contato h2 {
  color: #c9222d;
}

#contato img {
  max-height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

#msgSucesso {
  display: none;
}