.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(assets/IMGs/hero-bg-2.png);
  display: flex;
  align-items: center;

}